{
    "presets": ["next/babel"],
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "fileName": true,
                "ssr": true,
                "displayName": true,
                "preprocess": false,
                "pure": true
            }
        ]
    ]
}
